<!DOCTYPE html>
<html lang="en">

<head>
    <title>Work6</title>
    <script src="https://www.gstatic.com/firebasejs/10.8.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.8.0/firebase-firestore-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.8.0/firebase-auth-compat.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/vuetify@3.4.10/dist/vuetify.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.4.10/dist/vuetify.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <script src="https://www.gstatic.com/firebasejs/10.8.0/firebase-auth-compat.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: "Noto Sans Thai", sans-serif;
        }

        .imgderja {
            padding-bottom: 2rem;
        }

        .login-layout {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
        }

        .color-btn {
            background-color: #344767;
            color: aliceblue;
            margin: 2rem 2rem;
        }

        .please {
            width: 100%;
            text-align: center;
            padding-bottom: 1rem;
        }
        .bg-test{
            background-color: #5e72e4;
            color: aliceblue;
        }
    </style>
</head>

<body>
    <div id="app">
        <v-app>
            <v-container>
                <v-card>
                    <v-card-title class="bg-test">{{title}}</v-card-title>
                    <v-card-actions>
                        <template v-if="user">
                            <div class="pa-2">
                                <v-avatar><img :src="user.photoURL" /></v-avatar>
                            </div>
                            <div class="pa-2">
                                {{user.displayName}}<br />
                                {{user.email}}<br />
                            </div>
                        </template>
                    </v-card-actions>

                    <!-- <v-card-text class="pa-6">
                    <table width="100%" >
                        <thead>
                          <tr>
                            <td>รหัส</td>
                            <td>คำนำหน้า</td>
                            <td>ชื่อ</td>
                            <td>สกุล</td>
                            <td>Email</td>
                            <td>section</td>
                            <td>edit</td>
                            <td>deleteData</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="(s) in students">
                            <td>{{s.id}}</td>
                            <td>{{s.title}}</td>
                            <td>{{s.fname}}</td>
                            <td>{{s.lname}}</td>
                            <td>{{s.email}}</td>
                            <td>{{s.section}}</td>
                            <td>
                                <v-btn @click="edit(s)"><v-icon icon="mdi-account-edit"></v-icon></v-btn>
                            </td>
                            <td><v-btn @click="deleteData(s)"><v-icon icon="mdi-account-remove"></v-icon></v-btn></td>
                          </tr>
                        </tbody>
                      </table>
                </v-card-text>-->
                    <v-card-actions>
                        <!-- <v-btn @click="readData()">Read Data (get)</v-btn>
                    <v-btn @click="autoRead()">Auto Read (onSnapshot)</v-btn>
                    <v-btn @click="addData()">Add Data</v-btn>-->
                    </v-card-actions>


                    <v-card-actions>
                        <v-btn @click="google_login()" v-if="!user"> Login</v-btn>
                        <div v-if="user">
                            <v-btn class="color-btn" @click="google_logout()" v-if="user">Logout</v-btn>
                            <div v-for="(s) in students">
                                <v-btn v-if="user.email == s.email"><a href="students_home.html">Next for
                                        students</a></v-btn>
                            </div>
                            <div v-for="(t) in teachers">
                                <v-btn  v-if="user.email == t.email"><a href="teacher_home.html">Next for
                                        Teachers</a></v-btn>
                            </div>
                        </div>
                    </v-card-actions>
                </v-card>
                <div class="pa-6 text-center">{{footer}}</div>
            </v-container>
        </v-app>
    </div>

    <script>
        const vuetify = Vuetify.createVuetify();
        const firebaseConfig = {
            apiKey: "AIzaSyD1_1YQPEbTztTZ_0DSlDjzngmT3VCV8O0",
            authDomain: "web-project-f6bbf.firebaseapp.com",
            projectId: "web-project-f6bbf",
            storageBucket: "web-project-f6bbf.appspot.com",
            messagingSenderId: "478021867754",
            appId: "1:478021867754:web:6f91608f53b7d32af8df93",
            measurementId: "G-R71D87S3N5"
        };
        firebase.initializeApp(firebaseConfig);
        const db = firebase.firestore();

        const app = Vue.createApp({
            data() {
                return {
                    title: "ระบบเช็คชื่อนักศึกษา",
                    footer: "",
                    students: [],
                    editstd: {},
                    editmode: 0,
                    teachers: [],
                    user: null,
                    ustudent: null,
                };
            },

            mounted() {
                firebase.auth().onAuthStateChanged((user) => {
                    if (user) {
                        this.user = user.toJSON();
                    } else {
                        this.user = null;
                    }
                });
                db.collection("teacher").get()
                    .then((querySnapshot) => {
                        var teacherslist = [];
                        querySnapshot.forEach((doc) => {
                            teacherslist.push({ email: doc.email, ...doc.data() });
                        });
                        this.teachers = teacherslist;
                    });
                db.collection("students")
                    .get()
                    .then((querySnapshot) => {
                        var stdlist = [];
                        querySnapshot.forEach((doc) => {
                            stdlist.push({ id: doc.id, ...doc.data() });
                        });
                        this.students = stdlist;
                    });
            },

            methods: {
                /* readData() {
                     db.collection("students")
                     .get()
                     .then((querySnapshot) => {
                         var stdlist = [];
                         querySnapshot.forEach((doc) => {
                         stdlist.push({ id: doc.id, ...doc.data() });
                         });
                         this.students = stdlist;
                     });
                 },*/

                /*//สำหรับอาจารย์
                readDatatc() {
                  db.collection("teachers")
                  .get()
                  .then((querySnapshot) => {
                      var teacherslist = [];
                      querySnapshot.forEach((doc) => {
                        teacherslist.push({ email: doc.email, ...doc.data() });
                      });
                      this.teachers = teacherslist;
                  });
              },
              ///*/

                autoRead() {
                    db.collection("students").onSnapshot((querySnapshot) => {
                        var stdlist = [];
                        querySnapshot.forEach((doc) => {
                            stdlist.push({ id: doc.id, ...doc.data() });
                        });
                        this.students = stdlist;
                    });
                },
                addData() {
                    this.editmode = "เพิ่มนักเรียน";
                    this.editstd = {};
                },
                edit(std) {
                    this.editstd = std;
                    this.editmode = "edit";
                },
                savedata() {
                    db.collection("students").doc(this.editstd.id).set(this.editstd);
                    location.reload();
                },
                deleteData(std) {
                    if (confirm("ต้องการลบข้อมูล")) {
                        db.collection("students").doc(std.id).delete();
                    }
                },
                google_login() {
                    var provider = new firebase.auth.GoogleAuthProvider();
                    provider.addScope("profile");
                    provider.addScope("email");
                    firebase.auth().signInWithPopup(provider);
                },
                google_logout() {
                    if (confirm("Are you sure?")) {
                        firebase.auth().signOut();
                        location.reload();
                    }
                },
                getstudent(email) {
                    db.collection("students")
                        .where("email", "==", email)
                        .limit(1)
                        .get()
                        .then(
                            (querySnapshot) => {
                                querySnapshot.forEach((doc) => {
                                    this.ustudent = { id: doc.id, ...doc.data() };
                                });
                            }
                        );
                },

            },
        });

        app.use(vuetify).mount("#app");
    </script>
</body>

</html>